<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575093931235-b6nd6nskpt09ap3tp0t78k1m0kjo0nl1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575093931235-b6nd6nskpt09ap3tp0t78k1m0kjo0nl1</string>
	<key>API_KEY</key>
	<string>AIzaSyAkDbO7OAb6-8-5QOSEhbHiB-PV0qmWBxc</string>
	<key>GCM_SENDER_ID</key>
	<string>575093931235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>project-ii-9f691</string>
	<key>STORAGE_BUCKET</key>
	<string>project-ii-9f691.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575093931235:ios:70b25c174e58fcfa7619d6</string>
</dict>
</plist>